[user]
	email = TU_EMAIL
	name = TU_NOMBRE
[core]
	editor = nvim
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential