window#waybar {
    background: #000000; /* Alto contraste oscuro */
    color: #e6e6e6;
    border-bottom: 2px solid #b3b3b3;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#workspaces button {
    padding: 0 6px;
    color: #e6e6e6;
}

#workspaces button.active {
    color: #4fd1ff;
    border-bottom: 3px solid #4fd1ff;
}

#network, #battery, #clock, #memory, #cpu, #bluetooth {
    padding: 0 10px;
    margin: 4px;
    border-radius: 6px;
    background-color: #000000;
    border: 1px solid #b3b3b3;
}

#battery.critical {
    color: #ff0000; /* Rojo alto contraste */
}

#battery.charging {
    color: #00ff00; /* Verde alto contraste */
}
