window#waybar {
    background: transparent;
    color: #e6e6e6;
    border-bottom: 2px solid #b3b3b3;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#workspaces button {
    padding: 0 6px;
    color: #e6e6e6;
}

#workspaces button.active {
    color: #4fd1ff;
    border-bottom: 3px solid #4fd1ff;
}

#network, #battery, #clock, #memory, #cpu, #bluetooth {
    padding: 0 10px;
    margin: 4px;
    border-radius: 6px;
    background-color: #000000;
    border: 1px solid #b3b3b3;
}

#bluetooth {
    color: #b3b3b3;
}
#bluetooth.on,
#bluetooth.disconnected {
    color: #e6e6e6;
}
#bluetooth.connected {
    color: #4fd1ff;
    border-color: #4fd1ff;
}

#battery.critical {
    color: #ff0000; /* Rojo alto contraste */
}

#battery.warning {
    color: #ffaa00;
}

#battery.charging {
    color: #00ff00; /* Verde alto contraste */
}

#custom-pomodoro {
    padding: 0 10px;
    margin: 4px;
    border-radius: 6px;
    background-color: #000000;
    border: 1px solid #b3b3b3;
}

/* Cuando está corriendo - borde verde */
#custom-pomodoro.running {
    border-color: #00ff00;
    color: #00ff00;
}

/* Cuando está en break - borde celeste */
#custom-pomodoro.break {
    border-color: #4fd1ff;
    color: #4fd1ff;
}

#custom-gastos {
    padding: 0 10px;
    margin: 4px;
    border-radius: 6px;
    background-color: #000000;
    border: 1px solid #b3b3b3;
    color: #e6e6e6;
}
